.select {
  background: #fbf0df;
  color: #1a1a1a;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.9em;
  appearance: none;
  margin: 0;
  width: min-content;
  display: block;
  flex-shrink: 0;
  border: none;
}
.select option {
  text-align: left;
}
