.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 0.3s;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.bun-logo {
  transform: scale(1.2);
}
.bun-logo:hover {
  filter: drop-shadow(0 0 2em #fbf0dfaa);
}
.react-logo {
  animation: spin 20s linear infinite;
}
.react-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
